@model ZazaInc.Models.Departamento

@{
    ViewBag.Title = "Create";
}

<link href="~/CSS/Terminacion.css" rel="stylesheet" />
<h2>Administracion...</h2>
<p id="p">Registrando Departamento</p>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal" id="f">

        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Nombre, "Nombre", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Nombre, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Nombre, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group" style="color:green">
            <div class="col-md-offset-2 col-md-10">
                <button type="submit" value="Agregar" class="btn btn-default" id="check"><img src="~/CSS/Recursos/comprobar.png"></button> Agregar
            </div>
        </div>
    </div>
}


<button id="botonRegistro" class="btn btn-primary" style="background-color:#ff6a00">
    @Html.ActionLink("Ver Listado", "Index", new { @class = "addy" }, new { @class = "addy" })
</button>
