@model ZazaInc.Models.Terminar

@{
    ViewBag.Title = "Details";
}
<link href="~/CSS/Terminacion.css" rel="stylesheet" />
<p id="p">Mostrando detalles...</p>

<div>

    <hr />
    <dl class="dl-horizontal">
        <dt>
            Razon
        </dt>

        <dd>
            @Html.DisplayFor(model => model.razon)
        </dd>

        <dt>
            Nombre del Empleado
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Empleado.nombre_empleado)
        </dd>

        <dt>
            Usuario
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Usuario.nombre_usuario)
        </dd>

    </dl>
</div>

<button id="botonRegistro" class="btn btn-primary">
    @Html.ActionLink("Volver al listado", "Index", new { @class = "addy" }, new { @class = "addy" })
</button>

<button id="botonRegistro" class="btn btn-primary">
    @Html.ActionLink("Editar", "Edit", new { id = Model.ID_Terminar }, new { @class = "addy" })
</button>
