@model ZazaInc.Models.Terminar

@{
    ViewBag.Title = "Edit";
}
    <link href="~/CSS/Terminacion.css" rel="stylesheet" />
    <h2>Editando terminacion laboral...</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal" id="f">
        
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.ID_Terminar)

        <div class="form-group">
            @Html.LabelFor(model => model.id_usuario, "ID del Usuario", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("id_usuario", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.id_usuario, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.id_empleado, "ID del empleado", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("id_empleado", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.id_empleado, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.razon, "Razon",htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.razon, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.razon, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group" style="color:green">
            <div class="col-md-offset-2 col-md-10">
                <button type="submit" value="Agregar" class="btn btn-default" id="check"><img src="~/CSS/Recursos/comprobar.png"></button> Guardar Cambios
            </div>
        </div>
    </div>
}

<button id="botonRegistro" class="btn btn-primary">
    @Html.ActionLink("Volver al listado", "Index", new { @class = "addy" }, new { @class = "addy" })
</button>