@model ZazaInc.Models.Empleado

@{
    ViewBag.Title = "Delete";
}

<h2>Registro De Empleados</h2>

<h3>Seguro que desea borrar este registro?</h3>
<div>
    <h4>Empleado</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.nombre_empleado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nombre_empleado)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.apellido_empleado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.apellido_empleado)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.posicion_empleado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.posicion_empleado)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.cedula_empleado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cedula_empleado)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.correo_usuario)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.correo_usuario)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.pago_empleado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.pago_empleado)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.horario_empleado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.horario_empleado)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
