@model ZazaInc.Models.Usuario

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Seguro que desea borrar este registro?</h3>
<div>
    <h4>Usuario</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.nombre_usuario)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nombre_usuario)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.apellido_usuario)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.apellido_usuario)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.rol_usuario)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.rol_usuario)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.cedula_usuario)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cedula_usuario)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.correo_usuario)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.correo_usuario)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.contraseña_usuario)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.contraseña_usuario)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Direccion_usuario)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Direccion_usuario)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
