@model ZazaInc.Models.Usuario

@{
    ViewBag.Title = "Details";
}

<link href="~/CSS/Terminacion.css" rel="stylesheet" />
<p id="p">Mostrando detalles...</p>


<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Nombre
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nombre_usuario)
        </dd>

        <dt>
            Apellido
        </dt>

        <dd>
            @Html.DisplayFor(model => model.apellido_usuario)
        </dd>

        <dt>
            Rol
        </dt>

        <dd>
            @Html.DisplayFor(model => model.rol_usuario)
        </dd>

        <dt>
            Cedula
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cedula_usuario)
        </dd>

        <dt>
            Correo Electronico
        </dt>

        <dd>
            @Html.DisplayFor(model => model.correo_usuario)
        </dd>

        <dt>
            Contraseña
        </dt>

        <dd>
            @Html.DisplayFor(model => model.contraseña_usuario)
        </dd>

        <dt>
            Direccion
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Direccion_usuario)
        </dd>

    </dl>
</div>
<button id="botonRegistro" class="btn btn-primary">
    @Html.ActionLink("Volver al listado", "Index", new { @class = "addy" }, new { @class = "addy" })
</button>

<button id="botonRegistro" class="btn btn-primary" style="background-color:#219fd6">
    @Html.ActionLink("Editar", "Edit", new { id = Model.id_usuario }, new { @class = "addy" })
</button>

