@model IEnumerable<ZazaInc.Models.Usuario>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Añadir registro", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.nombre_usuario)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.apellido_usuario)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.rol_usuario)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.cedula_usuario)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.correo_usuario)
        </th>
        
        <th>
            @Html.DisplayNameFor(model => model.Direccion_usuario)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.nombre_usuario)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.apellido_usuario)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.rol_usuario)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.cedula_usuario)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.correo_usuario)
        </td>
         
        <td>
            @Html.DisplayFor(modelItem => item.Direccion_usuario)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id_usuario }) |
            @Html.ActionLink("Details", "Details", new { id=item.id_usuario }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id_usuario })
        </td>
    </tr>
}

</table>
