<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ZAZA Management SRL</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="~/CSS/Layout.css" rel="stylesheet" />
</head>


<body>
    <div class="navbar navbar-inverse navbar-fixed-top" id="despliegue">
        <nav class="navbar navbar-light bg-light" id="navtitulo">
            <span class="navbar-brand mb-0 h1" id="titulo">ZAZA Management SRL</span>
            @if (User.Identity.IsAuthenticated)
            {
        <div id="logout">
            <div><span id="adm">Administrador</span></div>
            
                <div id="cerrar">
                    <img src="~/CSS/Recursos/User.png" align="left">
                    <a href="/Home/Logout" class="badge badge-secondary">Cerrar sesion</a>
                </div >
            
            <div id="rh"><span>Recursos humanos</span></div>
        </div>
         
               
            }
        </nav>
        <div class="container" >
            <div class="navbar-header">
                <!--Apartado Responsive-->
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            @{var cookie = Request.Cookies["myCookie"];
                var rol = "";
                if (cookie != null)
                {
                    rol = cookie.Values["Rol"].ToString();
                }

            }
            <div class="navbar-collapse collapse" >
                <ul class="nav navbar-nav">
                    <li id="navbarDropdownMenuLink">@Html.ActionLink("Inicio", "Index", "Home")</li>

                    @if (User.Identity.IsAuthenticated)
                    {
                        if (rol == "Empleado")
                        {

                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Operacion</a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink" id="items">
                                    <a class="dropdown-item"> @Html.ActionLink("Operacion", "Index", "Empleadoes")</a>
                                </div>
                            </li>

                        }
                        if (rol == "Solicitante")
                        {
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" href="~/Views/Entrevistas/Index.cshtml">Contratacion</a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink" id="items">
                                    <a class="dropdown-item"> @Html.ActionLink("Añadir registro", "Create", "Entrevistas")</a>
                                </div>
                            </li>
                        }
                        if (rol == "admin")
                        {
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" href="~/Views/Empleadoes/Index.cshtml">Operacion</a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink" id="items">
                                    <a class="dropdown-item">@Html.ActionLink("Actualizar informacion", "Index", "Empleadoes")</a>
                                    <hr>
                                    <a class="dropdown-item">@Html.ActionLink("Gestionar Vacaciones", "Index", "Vacaciones")</a>
                                </div>
                            </li>

                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" href="~/Views/Terminars/Index.cshtml">Terminacion</a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink" id="items">
                                    <a class="dropdown-item"> @Html.ActionLink("Añadir registro", "Create", "Terminars")</a>
                                </div>
                            </li>

                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" href="~/Views/Entrevistas/Index.cshtml">Contratacion</a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink" id="items">
                                    <a class="dropdown-item"> @Html.ActionLink("Añadir registro", "Create", "Entrevistas")</a>
                                </div>
                            </li>

                            

                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" href="~/Views/Usuarios/Index.cshtml">Administracion</a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink" id="items">
                                    <a class="dropdown-item"> @Html.ActionLink("Añadir usuario manualmente", "Create", "Usuarios")</a>
                                    <hr>
                                    <a class="dropdown-item"> @Html.ActionLink("Ver solicitantes", "Index", "Solicitantes")</a>
                                    <hr>
                                    <a class="dropdown-item"> @Html.ActionLink("Ver departamentos", "Index", "Departamentoes")</a>
                                </div>
                            </li>

                        }


                        
                    }
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <footer>
            <p>&copy; @DateTime.Now.Year - ZazaManagement</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
