<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ZAZA Management SRL</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>

    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <!--Apartado Responsive-->
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Zaza Management SRL", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            @{var cookie = Request.Cookies["myCookie"];
                var rol = "";
                if (cookie != null) {
                    rol = cookie.Values["Rol"].ToString();
                }
                
            }
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Pantalla de inicio", "Index", "Home")</li>
                    @if (User.Identity.IsAuthenticated)
                    {
                        if (rol == "Empleado")
                        {

                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Operacion</a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                    <a class="dropdown-item"> @Html.ActionLink("Operacion", "Index", "Empleadoes")</a>
                                </div>
                            </li>
                            
                        }
                        if (rol == "Solicitante")
                        {
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" href="~/Views/Entrevistas/Index.cshtml">Contratacion</a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                    <a class="dropdown-item"> @Html.ActionLink("Añadir registro", "Create", "Entrevistas")</a>
                                </div>
                            </li>
                        }
                        if (rol == "admin")
                        {
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" href="~/Views/Empleadoes/Index.cshtml">Operacion</a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                    <a class="dropdown-item">@Html.ActionLink("Actualizar informacion", "Index", "Empleadoes")</a>
                                    <hr>
                                    <a class="dropdown-item">@Html.ActionLink("Gestionar Vacaciones", "Index", "Vacaciones")</a>
                                </div>
                            </li>

                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" href="~/Views/Entrevistas/Index.cshtml">Contratacion</a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                    <a class="dropdown-item"> @Html.ActionLink("Añadir registro", "Create", "Entrevistas")</a>
                                </div>
                            </li>

                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" href="~/Views/Terminars/Index.cshtml">Terminacion</a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                    <a class="dropdown-item"> @Html.ActionLink("Añadir registro", "Create", "Terminars")</a>
                                </div>
                            </li>

                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" href="~/Views/Usuarios/Index.cshtml">Administracion</a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                    <a class="dropdown-item"> @Html.ActionLink("Añadir usuario manualmente", "Create", "Usuarios")</a>
                                    <hr>
                                    <a class="dropdown-item"> @Html.ActionLink("Ver solicitantes", "Index", "Solicitantes")</a>
                                    <hr>
                                    <a class="dropdown-item"> @Html.ActionLink("Ver departamentos", "Index", "Departamentoes")</a>
                                </div>
                            </li>




                        }


                        <li class="tab"><a href="/Home/Logout">Salir</a></li>
                    }
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <footer>
            <p>&copy; @DateTime.Now.Year - ZazaManagment</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
