@model ZazaInc.Models.Vacacione

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Seguro que desea borrar este registro?</h3>
<div>
    <h4>Vacacione</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.fecha_inicio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fecha_inicio)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fecha_final)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fecha_final)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Empleado.nombre_empleado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Empleado.nombre_empleado)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Usuario.nombre_usuario)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Usuario.nombre_usuario)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
