@model ZazaInc.Models.Vacacione

@{
    ViewBag.Title = "Details";
}
    <link href="~/CSS/Recursos/Operacion.css" rel="stylesheet" />
    <p id="p">Mostrando detalles...</p>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Fecha Inicio
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fecha_inicio)
        </dd>

        <dt>
            Fecha Final
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fecha_final)
        </dd>

        <dt>
            Nombre del Empleado:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Empleado.nombre_empleado)
        </dd>

        <dt>
            Usuario:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Usuario.nombre_usuario)
        </dd>

    </dl>
</div>

<button id="botonRegistro" class="btn btn-primary">
    @Html.ActionLink("Volver al listado", "Index", new { @class = "addy" }, new { @class = "addy" })
</button>