@model IEnumerable<ZazaInc.Models.Vacacione>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<li>@Html.ActionLink("Actualizar informacion", "Index", "Empleadoes")</li>
<li>@Html.ActionLink("Gestionar Vacaciones", "Index", "Vacaciones")</li>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.fecha_inicio)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fecha_final)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Empleado.nombre_empleado)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Usuario.nombre_usuario)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.fecha_inicio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.fecha_final)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Empleado.nombre_empleado)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Usuario.nombre_usuario)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.id_vacaciones }) |
                @Html.ActionLink("Details", "Details", new { id = item.id_vacaciones }) |
                <!--@Html.ActionLink("Delete", "Delete", new { id = item.id_vacaciones })-->
            </td>
        </tr>
        }
    
</table>
<p>
    @Html.ActionLink("Registrar vacaciones", "Create")
</p>