@model ZazaInc.Models.Entrevista

@{
    ViewBag.Title = "Details";
}

<link href="~/CSS/Terminacion.css" rel="stylesheet" />
<p id="p">Mostrando detalles...</p>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Notas
        </dt>

        <dd>
            @Html.DisplayFor(model => model.notas)
        </dd>

        <dt>
            Nombre del Solicitante
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Solicitante.nombre_Solicitante)
        </dd>

        <dt>
            Usuario
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Usuario.nombre_usuario)
        </dd>

    </dl>
</div>

<button id="botonRegistro" class="btn btn-primary">
    @Html.ActionLink("Volver al listado", "Index", new { @class = "addy" }, new { @class = "addy" })
</button>

<button id="botonRegistro" class="btn btn-primary" style="background-color:#219fd6">
    @Html.ActionLink("Editar", "Edit", new { id = Model.id_Entrevista }, new { @class = "addy" })
</button>

