@model IEnumerable<ZazaInc.Models.Entrevista>

@{
    ViewBag.Title = "Index";
}
@{var cookie = Request.Cookies["myCookie"];
    var rol = "";
    if (cookie != null)
    {
        rol = cookie.Values["Rol"].ToString();
    }

}
<link href="~/CSS/Terminacion.css" rel="stylesheet" />

<h2>Gestionando contrataciones...</h2>


<table class="table">
    <tr>
        <th>
            Notas
        </th>
        <th>
            Nombre del Solicitante
        </th>
        <th>
            Usuario
        </th>
        @if (rol == "admin")
        {
            <th></th>
}
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.notas)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Solicitante.nombre_Solicitante)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Usuario.nombre_usuario)
            </td>
            @if (rol == "admin")
            {
                <td id="i">
                    <button class="uo"> <img src="~/CSS/Recursos/lapiz.png"> @Html.ActionLink("Editar", "Edit", new { id = item.id_Entrevista })</button>
                    <button class="uo1"> <img src="~/CSS/Recursos/informacion.png"> @Html.ActionLink("Detalles", "Details", new { id = item.id_Entrevista }, new { @class = "uo2" }) </button>
                    <button class="uo4"> <img src="~/CSS/Recursos/eliminar.png"> @Html.ActionLink("Eliminar", "Delete", new { id = item.id_Entrevista }, new { @class = "uo3" })</button>
                </td>
}
        </tr>
    }

</table>
@if (rol == "admin")
{
    <button id="botonRegistro" class="btn btn-primary">
        @Html.ActionLink("Agregar registro de Entrevista", "Create", new { @class = "addy" }, new { @class = "addy" })
    </button>}