@model IEnumerable<ZazaInc.Models.Entrevista>

@{
    ViewBag.Title = "Index";
}

<h2>Contratacion</h2>

<p>
    @Html.ActionLink("Añadir registro", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.notas)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Solicitante.nombre_Solicitante)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Usuario.nombre_usuario)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.notas)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Solicitante.nombre_Solicitante)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Usuario.nombre_usuario)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id_Entrevista }) |
            @Html.ActionLink("Details", "Details", new { id=item.id_Entrevista }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id_Entrevista })
        </td>
    </tr>
}

</table>
